<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>
    {% if page.title %}{{ page.title }} — {{ site.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ page.description | default: site.description }}" />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/IBMPlexMono-Regular-Latin1.woff2' | relative_url }}" crossorigin>
  <link rel="preload" as="font" type="font/woff2" href="{{ '/assets/fonts/IBMPlexMono-Medium-Latin1.woff2' | relative_url }}" crossorigin>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  {%- feed_meta -%}
</head>
