---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <hr />

  <div class="post-content">
    <p class="muted">
      a few open source things i've built. full list on
      <a href="https://github.com/felipecsl?tab=repositories">github</a>.
    </p>

    <ul class="projects-list">
      <li>
        <a class="project-name" href="https://github.com/felipecsl/wombat">wombat</a>
        <span class="project-desc">lightweight ruby crawler with a minimalist DSL</span>
      </li>
      <li>
        <a class="project-name" href="https://github.com/felipecsl/AsymmetricGridView">AsymmetricGridView</a>
        <span class="project-desc">android listview that mimics a gridview with asymmetric items</span>
      </li>
      <li>
        <a class="project-name" href="https://github.com/EliFUT/android">EliFUT</a>
        <span class="project-desc">a "football manager" style android game</span>
      </li>
      <li>
        <a class="project-name" href="https://github.com/felipecsl/ktnes">ktnes</a>
        <span class="project-desc">multiplatform NES emulator written in kotlin</span>
      </li>
      <li>
        <a class="project-name" href="https://github.com/felipecsl/GifImageView">GifImageView</a>
        <span class="project-desc">android imageview that handles animated gif images</span>
      </li>
      <li>
        <a class="project-name" href="https://github.com/felipecsl/random-maze-generator">random-maze-generator</a>
        <span class="project-desc">find the shortest path out of a generated random maze</span>
      </li>
    </ul>
  </div>
</article>
